*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-accent: #16e0bd;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-section-one: #202235;
    --clr-section-two: #24263A;

    --button: #FF4A57;
    --button-outline: #FF4A57;
    
    --fs-h1: 2.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em, 0.125em 0.125em rgba(0,0,0,.15)
}

/* General styles */

body {
    background-color: var(--clr-section-one);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

header {
    background-color: var(--clr-section-one);
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-light);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* navigation */
.nav-toggle {
    padding: .5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.7em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    color: var(--clr-light);
}

.intro-name {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 3rem;
}

.description {
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
}

.intro-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container {
    width: 80%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content:space-evenly
    
}

.pbutton {
    border: 2px solid var(--button-outline);
    text-align: center;
    border-radius: 50px;
}

.portfolio-button {
    width: 40%;
    padding: 10px;    
}

.video-button {
    width: 30%;
    padding: 10px;
    background-color: var(--button); 
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size:var(--fs-h3);
}

.top-container {
    padding: 1rem;
}

#introduction {
    background-color: var(--clr-section-two);
}

.sec-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.a_item {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--clr-section-one);
}

.a_b_pink {
    border: 2px solid var(--button-outline);
}

.fab {
    color: var(--clr-light);
}

#introduction {
    padding: 0.5rem;
}

.sl-top {
    margin-top: 1rem;
    flex-direction: row;
    margin-bottom: 1rem;
}

.sl-bottom {
    flex-direction: row;
    margin-top: 2rem;
}

.sl-container {
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
}

.sl_item {
    margin-right: 0.5rem;
}

footer {
    background-color: var(--clr-section-two);
}

.m-container {
    padding-top: 6rem;
}

.contactForm {
    width: 90%;
    padding: 10px;
    background: var(--clr-section-one);
    margin: 0 auto;
}

.contactForm h2 {
    font-size: 30px;
    color: var(--clr-light);
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 20px 35px;
    font-size: 1rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--clr-section-two);
    color: var(--clr-light);
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: var(--clr-section-one);
    font-size: 12px;
    transform: translateY(-20px)
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: var(--button);
    color: var(--clr-light);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

.messagebox {
    height: 160px;
}


.footer-text {
    text-align: center;
}

.footer-text > h1 {
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .sec-container {
        width: 70%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .description {
        font-size: 1.8rem;
        text-align: center;
        line-height: 40px;
    }
}